
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .error-container {
            text-align: center;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            max-width: 400px;
        }

        h1 {
            font-size: 30px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .back-link {
            display: block;
            font-size: 16px;
            color: #007BFF;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="error-container">
        <h1>Sorry For Inconvenience</h1>
       
        <% if(typeof message!=='undefined' ){ %>
            <h4>
                <%= message %>
            </h4>
            <% } %>
        <a  class="back-link">go back</a>
    </div>
</body>

</html>
