
<!-- views/admin/product-add.ejs -->
<div class="card py-5">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">ADD PRODUCT</h5>
        <form action="/admin/product" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="productName" class="form-label">Name</label>
                <input type="text" class="form-control" id="productName" name="name" required>
            </div>
            <div class="mb-3">
                <label for="productDescription" class="form-label">Description</label>
                <textarea class="form-control" id="productDescription" name="description" rows="3" required></textarea>
            </div>
            <div class="mb-3">
                <label for="productImages" class="form-label">Images</label>
                <input type="file" class="form-control" id="productImages" name="images" multiple required>
            </div>
            <div class="mb-3">
                <label for="productCategory" class="form-label">Category</label>
                <select class="form-control" id="productCategory" name="category" required>
                    <% categories.forEach(category => { %>
                        <option value="<%= category._id %>"><%= category.name %></option>
                    <% }); %>
                </select>
            </div>
            <div class="mb-3">
                <label for="productPrice" class="form-label">Price</label>
                <input type="number" step="0.01" class="form-control" id="productPrice" name="price" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
        
        </div> 
        
    </div>
</div>
