<!-- include header -->
<%- include('./includes/header') %>



<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
            <div class="col-lg-12">
                <div class="login_form_inner">
                    <h3>Enter Your Registered Email</h3>
                    <form class="row login_form" action="/forgotPassword" method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                        </div>
                        
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Verify</button>
                        </div>
                    </form>
        <%=(typeof message!=='undefined')?message:""%>
        <div id="countdownn" style="display: none;"></div>
        <!-- <a href="/resendOtpLogin" id="resendLinky" style="display: none;">Resend OTP</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

<!-- include footer -->
<%- include('./includes/footer')%>

<!-- <script>
    var timeLeft = 10; // Set the countdown time in seconds

    function startCountdown() {
        var countdownElement = document.getElementById('countdownn');
        var resendLink = document.getElementById('resendLinky');

        countdownElement.style.display = 'inline';
        resendLink.style.display = 'none';

        var countdownInterval = setInterval(function() {
            timeLeft--;
            countdownElement.textContent = 'Resend OTP in ' + timeLeft + ' seconds';

            if (timeLeft <= 0) {
                clearInterval(countdownInterval);
                countdownElement.style.display = 'none';
                resendLink.style.display = 'inline';
            }
        }, 1000);
    }
    startCountdown()
</script> -->