<!-- include header -->
<%- include('./includes/header') %>

<!-- Start Banner Area -->
<section>
    <div class="container">
        
            <div class="col-first">
            
                <nav class="d-flex align-items-center">
                    
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="../admin/images/photo-1534349762230-e0cadf78f5da.jpeg" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p></p>
                        <a class="primary-btn" href="/register">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Log in to enter</h3>
                    <form class="row login_form" action="/login" method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control"  name="email" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control"  name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Keep me logged in</label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Log In</button>
                            <a href="/forgotPassword">Forgot Password?</a>
                        </div>
                            
                                 <p class=" text-danger " style="padding-left: 40%;"><%=(typeof message!=='undefined')?message:""%></p>
                           



                            




                        </div>
                    </form>
                    <!-- <form  class="row login_form" action="/otplogin" method="post" id="contactForm" novalidate="novalidate">
                        <a >Login With OTP</a>

                        <div class="col-md-12 form-group">
                            <input type="string" class="form-control"  name="mobile" placeholder="Enter Mobile Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'MOBILE'">
                            <button type="submit" value="submit" class="primary-btn"  style="background-color:black" >Log In</button>
                        </div>

                    </form> -->


                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

<!-- include footer -->
<%- include('./includes/footer')%>
