<!-- include header -->
<%- include('./includes/header') %>



<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
            <div class="col-lg-12">
                <div class="login_form_inner">
                    <h3>Enter new password</h3>
                    <form class="row login_form" action="/resetPassword" method="post" id="contactForm">
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'password'"  onkeyup="passwordValidation()">
                            
                            <span id="passwordError" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="confpassword" name="confirmPassword" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'" onkeyup="confPasswordValidation()">
                            <span id="confPasswordError" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <!-- Add the 'name' attribute to the OTP input field -->
                            <input type="hidden" class="form-control" id="" name="mobile" placeholder="" onfocus="this.placeholder = ''" onblur="this.placeholder = ''" value="<%= mobile %>">
                        </div>
                        
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Verify</button>
                        </div>
                    </form>
        <%=(typeof message!=='undefined')?message:""%>
        <div id="countdownn" style="display: none;"></div>
        <!-- <a href="/resendOtpLogin" id="resendLinky" style="display: none;">Resend OTP</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

<!-- include footer -->
<%- include('./includes/footer')%>

<!-- <script>
    var timeLeft = 10; // Set the countdown time in seconds

    function startCountdown() {
        var countdownElement = document.getElementById('countdownn');
        var resendLink = document.getElementById('resendLinky');

        countdownElement.style.display = 'inline';
        resendLink.style.display = 'none';

        var countdownInterval = setInterval(function() {
            timeLeft--;
            countdownElement.textContent = 'Resend OTP in ' + timeLeft + ' seconds';

            if (timeLeft <= 0) {
                clearInterval(countdownInterval);
                countdownElement.style.display = 'none';
                resendLink.style.display = 'inline';
            }
        }, 1000);
    }
    startCountdown()
</script> -->




<script>
    const password = document.getElementById("password")
      const passwordError = document.getElementById("passwordError")
       const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]).{8,}$/;
		function passwordValidation(){
			const passwordValue = password.value
			if(!passwordValue.match(passwordRegex)){
				passwordError.innerHTML = 'Password should contain atleast 8 characters 1 number and a special character'
				passwordError.style.color = 'red'
				password.style.border = "solid 2px red";
				return false;
			}
			passwordError.innerHTML = ""
			passwordError.style.color = "green"
			password.style.border = "solid 2px green";
			return true
		}
        function confPasswordValidation() {
    const passwordValue = document.getElementById('password').value;
    const confPasswordValue = document.getElementById('confpassword').value;
    
    const confPasswordError = document.getElementById('confPasswordError');
    const confPasswordInput = document.getElementById('confpassword');
    
    if (passwordValue !== confPasswordValue) {
        confPasswordError.innerHTML = 'Password and Confirm Password should be the same';
        confPasswordError.style.color = 'red';
        confPasswordInput.style.border = "solid 2px red";
        return false;
    }
    
    confPasswordError.innerHTML = "";
    confPasswordError.style.color = "green";
    confPasswordInput.style.border = "solid 2px green";
    return true;
}
</script>